In [1]:
import pandas as pd

In [2]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)

In [3]:
df.iloc[:3]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [4]:
df.iloc[:, :-1].values

array([[   1,    2,    3],
       [ 100,  200,  300],
       [1000, 2000, 3000]], dtype=int64)

In [5]:
df.iloc[:, 1:].values

array([[   2,    3,    4],
       [ 200,  300,  400],
       [2000, 3000, 4000]], dtype=int64)