## Практическое задание. Анализ данных пассажиров "Титаника"

Предпосылки для создания модели

Крушение лайнера «Титаник» произошло в ночь с 14 на 15 апреля 1912 года из-за столкновения с айсбергом в ледяных водах Северной Атлантики. Трагедия унесла жизни от 1495 до 1635 человек из 2208—2225 людей на борту . Всего 712 человек было эвакуировано. Крушение произошло во время первого рейса парохода, следовавшего по маршруту Саутгемптон—Шербур—Квинстаун—Нью-Йорк более чем в 600 км к юго-востоку от канадского острова Ньюфаундленд. Неформально является самой знаменитой катастрофой XX века.

Основная часть людей погибла от переохлаждения, поскольку температура океанской воды составляла −2°С (порог замерзания при солёности 35 ‰). Спустя полтора часа после полного погружения «Титаника» на место трагедии прибыл пароход «Карпатия» и подобрал выживших в шлюпках.

Это событие стало крупнейшей морской катастрофой мирного времени на следующие 75 лет — до 20 декабря 1987 года, когда потерпел крушение филиппинский паром «Донья Пас», унёсший жизни более 4000 человек.

Если доверять Википедии, то Титаник столкнулся с айсбергом в 11:40 вечера корабельного времени, когда подавляющее большинство пассажиров и корабельной команды находились в своих каютах. Соответственно, расположение кают, возможно, имело влияние на вероятность выжить, т.к. пассажиры нижних палуб, во-первых, позднее узнали о столкновении и, соответственно, имели меньше времени добраться до верхней палубы. И, во-вторых, им, естественно, было дольше выбираться из помещений корабля. Ниже изображены схемы Титаника с указанием палуб и помещений.

![picture1](https://habrastorage.org/r/w1560/files/530/f91/bf0/530f91bf048d46b7ad9f53854d9af266.png)

[picture2](https://habrastorage.org/r/w1560/files/ddf/307/0c6/ddf3070c69e0450184e35790f72917d1.jpeg)


Титаник являлся британским кораблем, а согласно законам Британии на корабле должно было быть число шлюпок, соответствующее водоизмещению судна, а не пассажировместимости. Титаник формально соответствовал этим требованиям и имел 20 шлюпок (14 со вместимостью 65 человек, 2 — 40 человек, 4 — 47 человек), которые были рассчитаны на погрузку 1178 человек, всего же на Титанике было 2208 человек. Таким образом, зная, что шлюпок на всех не хватит, капитан Титаника Смит отдал, после столкновения с айсбергом, приказ брать на шлюпки только женщин и детей. Однако члены команды не всегда следовали ему.

In [ ]:
#%pylab inline
import seaborn as sns
import pandas as pd

Считаем данные из файла в память в виде объекта Pandas.DataFrame

In [ ]:
#data = pd.read_csv('../../data/titanic_train.csv')

In [ ]:
#data = pd.read_csv('titanic_train.csv')

ParserError: Error tokenizing data. C error: Expected 6 fields in line 6, saw 25

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
train_data = pd.read_csv('/content/gdrive/MyDrive/data/titanic/train.csv')
test_data = pd.read_csv('/content/gdrive/MyDrive/data/titanic/test.csv')
train_data.shape

(891, 12)

In [ ]:
#https://cloud.mail.ru/public/JiF5/Faxm5PxxT
#!wget -O train.zip "https://cloud.mail.ru/public/Cpdd/az8U6TUbR"

--2024-02-18 18:19:00--  https://cloud.mail.ru/public/Cpdd/az8U6TUbR
Resolving cloud.mail.ru (cloud.mail.ru)... 95.163.57.16
Connecting to cloud.mail.ru (cloud.mail.ru)|95.163.57.16|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘train.zip’

train.zip               [  <=>               ] 417.17K  1012KB/s    in 0.4s

2024-02-18 18:19:02 (1012 KB/s) - ‘train.zip’ saved [427182]

In [ ]:
#!unzip train.zip

Archive:  train.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of train.zip or
        train.zip.zip, and cannot find train.zip.ZIP, period.

**Данные представлены в виде таблицы. Посмотрим на первые 5 строк:**

In [ ]:
data = train_data
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Возьмем первые 10 элементов столбца Parch - количество родителей и детей пассажира на борту:**

In [ ]:
data['Parch'][:10]

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    1
8    2
9    0
Name: Parch, dtype: int64

**Отберем пассажиров, которые сели в Cherbourg (Embarked=C) и заплатили более 200 у.е. (fare > 200).**

Убедитесь, что Вы понимаете, как эта конструкция работает. <br />
Если нет - посмотрите, как вычисляется выражение в квадратных в скобках.

In [ ]:
data[(data['Embarked'] == 'C') & (data['Fare'] > 200)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.0,0,2,113503,211.5000,C82,C
380,381,1,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,NaN,C
557,558,0,1,"Robbins, Mr. Victor",male,NaN,0,0,PC 17757,227.5250,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
700,701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0,1,0,PC 17757,227.5250,C62 C64,C
716,717,1,1,"Endres, Miss. Caroline Louise",female,38.0,0,0,PC 17757,227.5250,C45,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C

**1. Сколько мужчин / жещин находилось на борту?**

In [ ]:
# Ваш код здесь
data[data['Sex'] == 'male'].shape

(577, 12)

In [ ]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
pd.crosstab(data.Sex, data.Survived).style.background_gradient()

**2. Выведите распределение погибших/выживших по переменной Pclass (социально-экономический статус). Дополнительно - это же распределение, но еще учитывая пол.**

In [ ]:
# Ваш код здесь
import numpy as np

**3. Сколько в среднем заплатил один пассажир? Найдите дисперсию этой величины. Сколько все пассажиры заплатили в сумме?**

In [ ]:
# Ваш код здесь
print(f"Всего {np.sum(data['Fare'])} \nСреднее равно {np.mean(data['Fare'])} \nДисперсия {np.std(data['Fare'])**2} ")

Всего 28693.9493
Среднее равно 32.204207968574636
Дисперсия 2466.665311685043

In [ ]:
print(f"Всего data.Fare.sum()data['Fare'])} \nСреднее равно {np.mean(data['Fare'])} \nДисперсия {np.std(data['Fare'])**2} ")

In [ ]:
data['Fare'][data['Sex'] == 'male'].mean()

25.523893414211443

**4. Правда ли, что молодые выживали чаще (с большей вероятностью), чем старики? Пусть "молодые" - те, кто моложе 30, а "старики" - те, кто старше 60.**

In [ ]:
# Ваш код здесь

**5. Правда ли, что женщины выживали чаще мужчин?**

In [ ]:
# Ваш код здесь

**6. Какое самое популярное имя среди пассажиров Титаника мужского пола?**

In [ ]:
# Ваш код здесь

**7. Сравните распределение стоимости билетов у спасенных и у погибших.**

In [ ]:
# Ваш код здесь

**8. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания?**

In [ ]:
# Ваш код здесь
# crosstab